YODLEEAPI_URL=http://example.com
YODLEEAPI_COBRAND_NAME=somename
YODLEEAPI_COBRAND_LOGIN=somelogin
YODLEEAPI_COBRAND_PASSWORD=somepassword
YODLEEAPI_USER_LOGIN=somelogin
YODLEEAPI_USER_PASSWORD=somepassword
